<div style="text-align:center">
    <span>&copy; @DateTime.Now.Year Coordinación General del Recursos Humanos <br />  Manuel Gómez Azcárate # 150, Col. Himno Nacional 2a sección, <br /> Tels. (444) 499 80 00 Ext. 8122, 8124 y (444) 499 80 30</span>
    <br />
    <span>  Versión 1.0.0</span>

</div>
